body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../../public/images/world.jpg");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.outerpadding{
padding:10% 0%;}
.boximg{
position:relative;
overflow:hidden;
}

.boximg img{
transition:all ease-in 500ms;
border:1px solid #fff;
}	
.boximg img:hover{
transform:scale(1.3,1.3);
cursor:pointer;

}	

.boximg:hover{
border:1px solid #fff;
}	

.date{
left: 0;
position: absolute;
top: 15px;
padding:5px;
background-color:teal;
opacity:0;
transition:all ease-in 300ms;

}	

.likebut{
background: none repeat scroll 0 0 teal;
height: 25px;
padding: 7px;
position: absolute;
right: 5px;
top: 130px;
width: 25px;
opacity:0.4;
transition:all ease-in 300ms;
}

.boximg:hover .date{
opacity:1;

}	
.boximg:hover .likebut{
opacity:1;

}

.deco-none {
color: inherit;
text-decoration: inherit;
}
.deco-none:link {
color: inherit;
text-decoration: inherit;
}
.deco-none:hover {
color: inherit;
text-decoration: inherit;
}
.bg-menu:hover {
background-color: #0079C1;
color: #FFFFFF;
}
.clickable {
cursor: pointer;
}